
{% set server = salt['grains.filter_by']({
    'Debian': {
        'mitaka_pkgs': ['ceilometer-api', 'ceilometer-agent-central', 'python-ceilometerclient', 'ceilometer-agent-notification', 'python-elasticsearch'],
        'all_packages': ['ceilometer-alarm-evaluator', 'ceilometer-alarm-notifier', ceilometer-api', 'ceilometer-agent-central', 'ceilometer-collector'],
        'all_services': ['ceilometer-alarm-evaluator', 'ceilometer-alarm-notifier', ceilometer-api', 'ceilometer-agent-central', 'ceilometer-collector'],
        'mitaka_services': ['ceilometer-api','ceilometer-agent-central','ceilometer-agent-notification'],
    },
    'RedHat': {
        'mitaka_pkgs':[ 'openstack-ceilometer-api', 'openstack-ceilometer-central', 'python-ceilometerclient'],
        'all_pkgs':[ 'openstack-ceilometer-api', 'openstack-ceilometer-central', 'python-ceilometerclient', 'openstack-ceilometer-alarm', 'openstack-ceilometer-collector'],
        'all_services':['openstack-ceilometer-api', 'openstack-ceilometer-central', 'openstack-ceilometer-collector', 'openstack-ceilometer-alarm-evaluator', 'openstack-ceilometer-notification'],
        'mitaka_services':['openstack-ceilometer-api', 'openstack-ceilometer-central', 'openstack-ceilometer-notification'],
    },
}, merge=salt['pillar.get']('ceilometer:server')) %}

{% set agent = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ceilometer-agent-compute'],
        'services': ['ceilometer-agent-compute'],
    },
    'RedHat': {
        'pkgs': ['openstack-ceilometer-compute'],
        'services': ['openstack-ceilometer-compute'],
    },
}, merge=salt['pillar.get']('ceilometer:agent')) %}
