
{% set server = salt['grains.filter_by']({
    'Debian': {
        'alarm_pkgs': ['ceilometer-alarm-evaluator', 'ceilometer-alarm-notifier'],
        'collector_pkgs': ['ceilometer-collector'],
        'basic_pkgs': ['ceilometer-api', 'ceilometer-agent-central', 'python-ceilometerclient', 'ceilometer-agent-notification'],
        'alarm_services': ['ceilometer-alarm-evaluator', 'ceilometer-alarm-notifier'],
        'collector_services': ['ceilometer-collector'],
        'basic_services': ['ceilometer-api', 'ceilometer-agent-central', 'python-ceilometerclient', 'ceilometer-agent-notification'],
        'db_module_pkgs': ['python-elasticsearch', 'python-influxdb'],
    },
    'RedHat': {
        'alarm_pkgs': ['openstack-ceilometer-alarm-evaluator', 'openstack-ceilometer-alarm-notifier'],
        'basic_pkgs':[ 'openstack-ceilometer-api', 'openstack-ceilometer-central', 'python-ceilometerclient'],
        'collector_pkgs':['openstack-ceilometer-collector'],
        'alarm_services':['openstack-ceilometer-alarm-evaluator', 'openstack-ceilometer-alarm-notifier'],
        'basic_services':['openstack-ceilometer-api', 'openstack-ceilometer-central', 'openstack-ceilometer-notification'],
        'collector_services': ['openstack-ceilometer-collector'],
        'db_module_pkgs': ['python-elasticsearch', 'python-influxdb'],
    },
}, merge=salt['pillar.get']('ceilometer:server')) %}

{% set agent = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ceilometer-agent-compute'],
        'services': ['ceilometer-agent-compute'],
    },
    'RedHat': {
        'pkgs': ['openstack-ceilometer-compute'],
        'services': ['openstack-ceilometer-compute'],
    },
}, merge=salt['pillar.get']('ceilometer:agent')) %}
