Source: salt-formula-ceilometer
Maintainer: Jakub Pavlik <jakub.pavlik@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-ceilometer
Vcs-Git: https://github.com/tcpcloud/salt-formula-ceilometer.git

Package: salt-formula-ceilometer
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Ceilometer Salt formula
 Install and configure Ceilometer server and client.
